<!DOCTYPE html>
<html lang="en" ng-app="tareasApp">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <link rel="stylesheet" href="tareas.css" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>Hello, world!</title>
  </head>
  <body>
    <h2>TAREAS</h2>
    <div ng-controller="TareasController as listaTareas">
      <div class="progress">
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: {{listaTareas.object.Rojo}}%"
          aria-valuenow="100"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>

      <div class="progress">
        <div
          class="progress-bar bg-info"
          role="progressbar"
          style="width: {{listaTareas.object.Azul}}%"
          aria-valuenow="50"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>

      <a href="" ng-click="listaTareas.incrementRojo()">Rojo</a>
      <a href="" ng-click="listaTareas.incrementAzul()">Azul</a>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.2/angularfire.min.js"></script>

    <script src="./connection.js" type="module"></script>
    <script src="tareas.js"></script>
  </body>
</html>
